* { @include box-sizing(border-box); }

html,
body {
  font-size: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  color: $dark;
  background: $bodyBG;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #BB7800;
  font-weight: 500;
  text-decoration: underline;
  @include transition(all 0.2s ease);
  &:hover {
    color: $burnYellow;
    text-decoration: none; 
  }
  &:active {
    color: darken($burnYellow, 15);
  }
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba($dark, 0.1);
  border-bottom: 1px solid rgba($dark, 0.3);
}
