@include font-face("fontello", font-files("fontello.woff", "fontello.ttf", "fontello.svg", "fontello.eot"));

.wrapper {
  max-width: emCalc(960px);
  margin: 0 auto;
  @include container;
  // +susy-grid-background  
  @media only screen and (max-width: $S) {
    padding-left: 0;
    padding-right: 1em;
  }
}

section {
  padding: 1.5em;
  margin-top: emCalc(30px);
  @media only screen and (max-width: $S) {
    margin-top: emCalc(15px);
  }
}

// TOP-HEADER

[id=logo] {
  @include hide-text;
  background: transparent url("../assets/img/logo.svg") no-repeat;
  width: 136px;
  height: 160px;
  position: absolute;
  margin-left: -(136px / 2);
  left: 50%;
}
// ie
* html [id=logo] {
  background: transparent url("../assets/img/francejs-logo-big.png") no-repeat;
  font-size: 2em
}

.top-header {
  height: 16em;
  padding: 3em;
  margin: 0 0 1em 0;
  background: #FFF;
  margin-top: 0;
  border: 0;
  border-bottom: 1px solid #E7E7E7;
  border-top: 0.2em solid $burnYellow;
  position: relative;
  box-shadow: 0 1px 0 #fff;
  @include pie-clearfix;
}

[id=asso],
[id=commu] {
  padding-left: 1.2em;
  color: $darkGrey;
  text-shadow: 0 1px 0 #fff;
  &:before {
    content: url("../assets/img/chevron.png");
    margin-right: 0.4em;
    position: relative;
    top: 6px;
  }
  @media only screen and (max-width: $S) {
    text-align: center;
    padding-left: 0;
  }
}

.primary p {
  margin: 1em;
  padding: 1em 0.7em;
  font-size: 1.2em;
  line-height: 1.5em;
  font-family: Georgia;
  color: $darkGrey;  
  font-style: italic;
  text-align: center;

  background: #fff;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.header {
  margin: -1.5em -1.5em  1.5em -1.5em ;
}
article .header h2, .header h3 {
  padding: 0.3em 0 0.3em 1em;
  line-height: 1.5em;
  margin: 0 0 1.5em;
  background-color: $darkGrey;
  background: linear-gradient($darkGrey, darken($darkGrey,5));
  color: $nearlyWhite;
  text-shadow: 0 -1px 0 darken($darkGrey,10);
  @include border-left;
}
// MAIN

section {
  background: $nearlyWhite;
  margin-left: 1em;
  padding-bottom: emCalc(30px);
}

main {
  @include span-columns(8, 12);
  @media only screen and (max-width: $S) {
    @include span-columns(12, 12);
  }
  section {
    border-radius: 3px;
    border-bottom: 1px solid darken($nearlyWhite, 10);
    overflow: hidden;
  }
}
// Aside

.community-links {
  color: $darkGrey;
}

aside {
  @include span-columns(4 omega, 12);
  section {
    border-radius: 3px;
    border-bottom: 1px solid darken($nearlyWhite, 10);
    overflow: hidden;
  }
  @media only screen and (max-width: $S) {
    @include span-columns(12, 12);
  }
}


.social {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1.4em;
  text-align: center;
  li {
    display: inline-block;
    margin: 0.5em;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 3em;
    height: 3em;
    border-radius: 3px;
    background: $darkGrey;
    color: $burnYellow;
    &:hover {
      background: $burnYellow;
      color: $nearlyWhite;
    }
    &:active {
      box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
      .icon {
        padding-top: 2px;
      }
    }
  }
}

.icon {
  display: inline-block;
  font-size: 1.5em;
  line-height: 2em;
  &:after {
    font-family: "fontello";
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
  }
}

.github {
  &:after {
    content: "\e805";
  }
}

.irc {
  &:after {
    content: "\e801";
  }
}

.twitter {
  &:after {
    content: "\e804";
  }
}

.gplus {
  &:after {
    content: "\e802";
  }
}

.groups {
  &:after {
    content: "\e800";
  }
}


// MAP
#map {
  margin-top: 2em;
}

// FOOTER

footer {
  //margin-top: 4em;
  background: $footerBG;
  border-top: 1px solid darken($footerBG, 15);
  min-height: 5em;
  margin-top: -5px;
  p {
    position: relative;
    margin: 0.5em 0;
    padding-left: 11em;
    font-size: 0.8em;
    line-height: 2em;
    color: darken($footerBG, 30);
    text-shadow: 0 1px 0 #eee;
    &:before {
      content: url("../assets/img/francejs-logo-small.png");
      position: absolute;
      top: -40px;
      left: 1em;
    }
  }
}
