<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>#FranceJS -- {{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <meta name="description" content="FranceJS est un agrégat de communautés autour de JavaScript.">
    <meta name="keywords" content="javascript, france, développeurs, js, frontend, communauté">
    <link rel="stylesheet" href="style.css">
    <!--[if lt IE 9]>
      <script src="javascripts/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- TOP-HEADER -->
    <header class="top-header">
      <a href="/" title="Retour à l'accueil"><h1 id="logo">#FranceJS</h1></a>
    </header>
    <div class="wrapper">
      <div class="primary">
        <p>FranceJS, c'est l'ensemble des communautés francophones autour de <b>JavaScript</b>.</p>
      </div>

      <!-- MAIN -->
      <main role="main">
        <h2 id="asso">Association</h2>
        {{content}}
      </main> <!-- end main -->

      <aside>
        <h2 id="commu">Communauté</h2>

        <section>
          <div class="header border-left">
            <h3>Rejoignez-nous !</h3>
          </div>

          <ul class="social">
            <li>
              <a href="https://github.com/francejs" title="Voir notre dépôt GitHub">
                <span class="icon github">
                  <svg aria-labelledby="simpleicons-github-icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title id="simpleicons-github-icon">GitHub icon</title><path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/></svg>
                </span>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/francejs" title="Suis le compte Twitter">
                <span class="icon twitter">
                  <svg aria-labelledby="simpleicons-twitter-icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title id="simpleicons-twitter-icon">Twitter icon</title><path d="M23.954 4.569c-.885.389-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.723-.951.555-2.005.959-3.127 1.184-.896-.959-2.173-1.559-3.591-1.559-2.717 0-4.92 2.203-4.92 4.917 0 .39.045.765.127 1.124C7.691 8.094 4.066 6.13 1.64 3.161c-.427.722-.666 1.561-.666 2.475 0 1.71.87 3.213 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.061c0 2.385 1.693 4.374 3.946 4.827-.413.111-.849.171-1.296.171-.314 0-.615-.03-.916-.086.631 1.953 2.445 3.377 4.604 3.417-1.68 1.319-3.809 2.105-6.102 2.105-.39 0-.779-.023-1.17-.067 2.189 1.394 4.768 2.209 7.557 2.209 9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63.961-.689 1.8-1.56 2.46-2.548l-.047-.02z"/></svg>
                </span>
              </a>
            </li>
            <li><a href="https://plus.google.com/u/0/communities/112831300754603977687" title="Rejoins la communauté Google +">
                <span class="icon gplus">
                  <svg aria-labelledby="simpleicons-googleplus-icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title id="simpleicons-googleplus-icon">Google+ icon</title><path d="M7.635 10.909v2.619h4.335c-.173 1.125-1.31 3.295-4.331 3.295-2.604 0-4.731-2.16-4.731-4.823 0-2.662 2.122-4.822 4.728-4.822 1.485 0 2.479.633 3.045 1.178l2.073-1.994c-1.33-1.245-3.056-1.995-5.115-1.995C3.412 4.365 0 7.785 0 12s3.414 7.635 7.635 7.635c4.41 0 7.332-3.098 7.332-7.461 0-.501-.054-.885-.12-1.265H7.635zm16.365 0h-2.183V8.726h-2.183v2.183h-2.182v2.181h2.184v2.184h2.189V13.09H24"/></svg>
                </span>
              </a>
            </li>
            <li>
              <a href="irc://irc.freenode.net/francejs" title="Chatter sur IRC">
                <span class="icon irc">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title id="simpleicons-chat-icon">Chat IRC icon</title><path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 9h12v2H6V9zm8 5H6v-2h8v2zm4-6H6V6h12v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                </span>
              </a>
            </li>
          </ul>
        </section>


      </aside>


    </div>  <!-- end .wrapper -->

    <!-- FOOTER -->
    <footer>
      <div class="wrapper">
        <p>&copy; 2013 Association FranceJS</p>
      </div>
    </footer>


    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    {% for js_file in page.extra_js %}
      <script src="{{ js_file }}"></script>
    {% endfor %}

     <script>
       (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
       function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
       e=o.createElement(i);r=o.getElementsByTagName(i)[0];
       e.src='//www.google-analytics.com/analytics.js';
       r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
       ga('create','UA-39130596-1');ga('send','pageview');
    </script>

  </body>
</html>
