<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>#FranceJS -- {{page.title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale = 1.0">
        <meta name="description" content="FranceJS est un aggrégats de communautés autour de JavaScript.">
        <meta name="keywords" content="javascript, france, développeurs, js, frontend, communauté">
        <link rel="stylesheet" media="all" href="css/style.css">
    </head>
    <body>
        <div class="wrapper">
            <h1><a href="/" title="Retour à l'accueil">#FranceJS</a></h1>
            <hr />
            {{content}}
        </div>
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-39130596-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </body>
</html>
